
h1{
	text-align: center;
	color: blue;
	font-family: Calibri;
}
h3{
	text-align: center;
	font-family: Calibri;
}
		
		
p {
	font-family: Calibri;
}

table{
	font-family: calibri;
	table-layout = fixed;
	width = 100%;
	height = 100%
}
