
h1{
	text-align: center;
	color: blue;
	font-family: Calibri;
}
h3{
	text-align: center;
	font-family: Calibri;
	font-weight: 200;
}
		
		
p {
	font-family: Calibri;
}

table, th, td {
  align: center;
  border: .5px solid black;
  border-collapse: collapse;
}
th {
  text-align: left;
  vertical-align: top;
}
th, td {
  padding: 16px;
}
